@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Nanum+Myeongjo&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-text: #fff;
    --primary-bg: #222;
}

@font-face {
    font-family: w;
    src: url(./Epyval.ttf);
}

body {
    /* background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg clip-path='url(%26quot%3b%23SvgjsClipPath1184%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(34%2c 34%2c 34%2c 1)'%3e%3c/rect%3e%3ccircle r='32.015' cx='1061.16' cy='376.13' fill='url(%23SvgjsLinearGradient1185)'%3e%3c/circle%3e%3ccircle r='51.46' cx='492.6' cy='431.97' fill='url(%23SvgjsLinearGradient1186)'%3e%3c/circle%3e%3ccircle r='15.905' cx='1277.4' cy='124.81' fill='url(%23SvgjsLinearGradient1187)'%3e%3c/circle%3e%3c/g%3e%3cdefs%3e%3cclipPath id='SvgjsClipPath1184'%3e%3crect width='1440' height='560' x='0' y='0'%3e%3c/rect%3e%3c/clipPath%3e%3clinearGradient x1='997.1300000000001' y1='376.13' x2='1125.19' y2='376.13' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1185'%3e%3cstop stop-color='rgba(43%2c 190%2c 63%2c 1)' offset='0.15'%3e%3c/stop%3e%3cstop stop-color='rgba(250%2c 250%2c 250%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='389.68' y1='431.97' x2='595.52' y2='431.97' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1186'%3e%3cstop stop-color='rgba(255%2c 83%2c 0%2c 1)' offset='0.15'%3e%3c/stop%3e%3cstop stop-color='rgba(235%2c 255%2c 2%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='1245.5900000000001' y1='124.81' x2='1309.21' y2='124.81' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1187'%3e%3cstop stop-color='%23e298de' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%23484687' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e"); */
    background: rgb(10, 18, 30);
    color: var(--primary-text);
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: var(--primary-text);
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
    background: rgba(22, 21, 21, 0.1);
    backdrop-filter: blur(5px);
    z-index: 1000;
}

nav .navLeft {
    font-family: w;
    font-size: 2rem;
    display: flex;
    align-items: center;
}

nav .navLeft img {
    padding-top: 5px;
    width: 100px;
}

nav span {
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 50px;
    background: linear-gradient(90deg, transparent, #fff);
    animation: animate 3.2s infinite linear;
}

@keyframes animate {
    0% {
        left: 0;
        transform: translate(-100%);
    }
    100% {
        left: 100%;
        transform: translate(0%);
    }
}

.heroWrapper {
    display: flex;
}

.heroWrapper section {
    width: 100vw;
    flex-shrink: 0;
    overflow: hidden;
}

.heroWrapper .video-section video {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    z-index: -2;
    position: relative;
}

.heroWrapper .img-container {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
}

.heroWrapper .img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.heroWrapper .text-content {
    position: absolute;
    top: 0;
    height: 85vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.heroWrapper .title {
    font-family: w;
    width: 450px;
    position: relative;
    height: 110px;
    overflow: hidden;
}

.heroWrapper .bg {
    font-size: 70px;
}

.heroWrapper .sm {
    font-size: 35px;
    height: 40px;
}

.heroWrapper .left {
    left: -25%;
}

.heroWrapper .right {
    top: 50px;
    left: 75%;
}

.heroWrapper .title span {
    position: absolute;
}

.heroWrapper .n {
    z-index: -1;
}

.heroWrapper .text-content p {
    transform: translateY(150px);
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 12px;
    font-weight: 300;
}

.heroWrapper .v_container {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 2fr 1fr;
    /* opacity: 0; */
}

.heroWrapper .left-side {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 4rem;
    gap: 5rem;
}

.heroWrapper .tv {
    font-family: w;
    display: flex;
    text-transform: capitalize;
}

.heroWrapper .bottom {
    transform: translateY(70px);
}

.heroWrapper .text-container {
    max-width: 260px;
}

.heroWrapper .text-container p {
    padding-bottom: 1rem;
    line-height: 1.4;
    opacity: .8;
}

.heroWrapper .right-side {
    margin: auto;
    width: 150px;
    height: 150px;
    border-top: 2px solid;
    border-bottom: 2px solid;
    border-color: rgba(255, 255, 255, .6);
    border-radius: 50%;
    position: relative;
}

.heroWrapper .right-side p {
    position: absolute;
    top: 45%;
    left: -15%;
    text-transform: uppercase;
    font-size: 14px;
}

.heroWrapper .fa-arrow-right-long {
    transform: translateX(20px);
}

.about {
    width: 100vw;
    height: 100vh;
    z-index: 10001;
}

.about img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.aboutEvent {
    padding: 0 2rem 0 2rem;
}

.aboutEvent .heading {
    font-family: w;
    margin: 2rem 0 0 0;
    font-size: 3.2rem;
    font-weight: lighter;
    text-align: center;
}

.aboutIndividualEvent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 1rem 2rem 1rem;
    /* border: 2px solid white; */
    border-radius: 10px;
    padding: 2rem;
    /* background: rgba(85, 86, 88, 0.19); */
    /* background: linear-gradient(332.58deg, rgba(217, 217, 217, 0.75) -79.44%, rgba(10, 18, 30, 0.26) 122.03%); */
}

.aboutIndividualEvent .aboutEventContent {
    background: rgba(85, 86, 88, 0.19);
    margin-right: 2rem;
    border-radius: 10px;
}

.topMainPoster {
    width: 15vw;
}

.topMainPoster img {
    width: 100%;
}

.bottomPoster {
    width: 18vw;
}

.bottomPoster img {
    margin-top: 1rem;
    width: 100%;
}

.eventMinorImage {
    margin-top: 4rem;
    margin-right: 1rem;
    width: 50vw;
}

.eventMinorImage img {
    width: 100%;
}

.aboutEventName {
    font-size: 2.5rem;
    font-family: w;
    font-weight: lighter;
}

.aboutEventDescription,
.aboutEventName,
.eventButtonsToBeClicked {
    margin: 2rem 2rem;
}

.eventButtonsToBeClicked {
    display: flex;
    font-size: .9rem;
}

.eventButtonsToBeClicked .primaryBtn {
    padding: .5rem 1rem;
    margin: 0 .5rem;
    background: linear-gradient(45deg, #0b1121, rgb(16, 171, 255));
    cursor: pointer;
}

.eventButtonsToBeClicked .secondaryBtn {
    padding: .5rem 1rem;
    margin: 0 .5rem;
    border: 2px solid rgb(16, 171, 255);
    cursor: pointer;
}

.eventSec {
    padding: 0 2rem 0 2rem;
}

.eventSec .heading {
    font-family: w;
    margin: 2rem 0;
    font-size: 3.2rem;
    font-weight: lighter;
    text-align: center;
}

.eventWrap {
    position: relative;
    padding-left: 4rem;
    margin: 0 0 0 30px;
}

.eventWrap .eventSideLine {
    position: absolute;
    left: 0;
    top: 0;
    width: 6px;
    height: 100%;
    background: rgba(93, 92, 92, 0.28);
}

.eventWrap .eventSideLine::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 6px;
    height: 30px;
    background: linear-gradient(#0b1121, rgb(16, 171, 255));
}

.individualEvents {
    padding: 1rem;
    position: relative;
    margin-bottom: 2rem;
    background: rgba(85, 86, 88, 0.19);
    border-radius: 10px;
}

.individualEvents .eventOnDay {
    display: flex;
    margin: 1rem 0;
}

.individualEvents .eventDate {
    position: absolute;
    left: -94px;
    top: 25px;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    text-align: center;
    /* box-shadow: 0 0 0 0 rgba(#ffdd1d, .5); */
    background: linear-gradient(45deg, #0b1121, rgb(16, 171, 255));
}

.eventPulse {
    animation: pulse 1.2s infinite;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 8px 6px transparent, 0 0 0 0 transparent, 0 0 0 0 transparent;
    }
    10% {
        box-shadow: 0 0 8px 6px #86a3f8, 0 0 10px 10px transparent, 0 0 10px 5px #86a3f8;
    }
    80%,
    100% {
        box-shadow: 0 0 8px 6px transparent, 0 0 0 30px transparent, 0 0 0 30px transparent;
    }
}

.individualEvents .eventDate span {
    padding-top: .8rem;
    font-size: 2rem;
    display: block;
    line-height: 1.6rem;
    font-family: w;
}

.individualEvents .eventTime {
    margin-right: 2rem;
    font-size: 1.2rem;
    font-family: w;
}

.individualEvents .eventDescription .n {
    margin-right: 2rem;
    font-size: 1.5rem;
    font-family: w;
}

.sponser {
    padding: 0 2rem 0 2rem;
}

.sponser .heading {
    font-family: w;
    margin: 2rem 0;
    font-size: 3.2rem;
    font-weight: lighter;
    text-align: center;
}

.sponserSlider {
    height: 7rem;
    position: relative;
    padding: 1.5rem;
    display: flex;
    overflow-x: hidden;
    margin-bottom: 4rem;
    background: rgba(85, 86, 88, 0.19);
}

.sponserSliderWrapper {
    height: 100%;
    display: flex;
    align-items: center;
    animation: sponserCarousel 16s linear infinite;
}

.sponserSliderWrapper .sponserLogo {
    height: 100%;
}

.sponserLogo img {
    height: 100%;
    margin: 0 4rem;
}

@keyframes sponserCarousel {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

footer {
    /* height: 60px; */
    /* display: flex;
    align-items: center;
    justify-content: space-around; */
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, .1);
    padding: 1rem;
}

footer .footerWrapper {
    display: flex;
    /* flex-direction: column; */
    text-align: left;
    /* align-items: center; */
    /* justify-content: center; */
    margin-bottom: 1rem;
}

.footerWrapper .faq {
    max-width: 50%;
    min-width: 50%;
    background: rgba(85, 86, 88, 0.19);
    padding: 1rem;
}

.footerWrapper .faq .qa {
    margin: .5rem;
}

.footerWrapper .faq span {
    font-weight: 700;
    display: block;
}

.footerWrapper .socialMedia {
    max-width: 50%;
    min-width: 50%;
    background: rgba(85, 86, 88, 0.19);
    padding: 1rem;
}

.footerWrapper .socialMedia .con {
    margin: 1rem 0;
}

footer .footerWrapper i {
    font-size: 1.5rem;
    margin: 1rem;
}

@media (max-width: 750px) {
    .aboutEvent {
        padding: 0 0rem 0 .5rem;
    }
    .aboutIndividualEvent {
        flex-direction: column-reverse;
    }
    .aboutEventName {
        font-size: 2rem;
    }
    .individualEvents .eventDate {
        position: absolute;
        left: -94px;
        top: 25px;
        width: 60px;
        height: 60px;
        font-size: .9rem;
    }
    .individualEvents .eventDate span {
        padding-top: .8rem;
        font-size: 1.2rem;
        font-weight: 700;
        line-height: 1.2rem;
    }
    .individualEvents .eventTime {
        margin-right: 1.5rem;
        font-size: 1.1rem;
    }
    .individualEvents .eventDescription .n {
        margin-right: 2rem;
        font-size: 1.2rem;
        font-family: w;
    }
    .eventButtonsToBeClicked .primaryBtn {
        padding: .4rem .8rem;
        margin: 0 .35rem;
        font-size: .5rem;
    }
    .eventButtonsToBeClicked .secondaryBtn {
        padding: .4rem .8rem;
        margin: 0 .35rem;
        font-size: .5rem;
    }
    .sponser .heading {
        font-size: 2rem;
    }
    .eventSec .heading {
        font-size: 2rem;
    }
    .aboutEvent .heading {
        font-size: 2rem;
    }
    .sponserSlider {
        height: 5rem;
    }
    footer .footerWrapper {
        flex-direction: column;
        font-size: .9rem;
    }
    .footerWrapper .faq {
        max-width: 100%;
        min-width: 100%;
    }
    .footerWrapper .socialMedia {
        max-width: 100%;
        min-width: 100%;
    }
}