@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Nanum+Myeongjo&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-text: #fff;
    --primary-bg:  rgb(10, 18, 30);
}

@font-face {
    font-family: w;
    src: url(./Epyval.ttf);
}

body {
    /* background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg clip-path='url(%26quot%3b%23SvgjsClipPath1184%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(34%2c 34%2c 34%2c 1)'%3e%3c/rect%3e%3ccircle r='32.015' cx='1061.16' cy='376.13' fill='url(%23SvgjsLinearGradient1185)'%3e%3c/circle%3e%3ccircle r='51.46' cx='492.6' cy='431.97' fill='url(%23SvgjsLinearGradient1186)'%3e%3c/circle%3e%3ccircle r='15.905' cx='1277.4' cy='124.81' fill='url(%23SvgjsLinearGradient1187)'%3e%3c/circle%3e%3c/g%3e%3cdefs%3e%3cclipPath id='SvgjsClipPath1184'%3e%3crect width='1440' height='560' x='0' y='0'%3e%3c/rect%3e%3c/clipPath%3e%3clinearGradient x1='997.1300000000001' y1='376.13' x2='1125.19' y2='376.13' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1185'%3e%3cstop stop-color='rgba(43%2c 190%2c 63%2c 1)' offset='0.15'%3e%3c/stop%3e%3cstop stop-color='rgba(250%2c 250%2c 250%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='389.68' y1='431.97' x2='595.52' y2='431.97' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1186'%3e%3cstop stop-color='rgba(255%2c 83%2c 0%2c 1)' offset='0.15'%3e%3c/stop%3e%3cstop stop-color='rgba(235%2c 255%2c 2%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='1245.5900000000001' y1='124.81' x2='1309.21' y2='124.81' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1187'%3e%3cstop stop-color='%23e298de' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%23484687' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e"); */
    background: rgb(10, 18, 30);
    color: var(--primary-text);
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: var(--primary-text);
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
    background: rgba(22, 21, 21, 0.1);
    backdrop-filter: blur(5px);
    z-index: 1000;
}

nav .navLeft {
    font-family: w;
    font-size: 2rem;
    display: flex;
    align-items: center;
}

nav .navLeft img {
    padding-top: 5px;
    width: 100px;
}

nav .navRight {
    display: flex;
    align-items: center;
    gap: 2rem;
}

nav .navRight a {
    display: flex;
    align-items: center;
}

nav span {
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 50px;
    background: linear-gradient(90deg, transparent, #fff);
    animation: animate 3.2s infinite linear;
}

@keyframes animate {
    0% {
        left: 0;
        transform: translate(-100%);
    }

    100% {
        left: 100%;
        transform: translate(0%);
    }
}

.heroWrapper {
    display: flex;
}

.heroWrapper section {
    width: 100vw;
    flex-shrink: 0;
    overflow: hidden;
}

.heroWrapper .video-section video {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    z-index: -2;
    position: relative;
}

.heroWrapper .img-container {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
}

.heroWrapper .img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.heroWrapper .text-content {
    position: absolute;
    top: 0;
    height: 85vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.heroWrapper .title {
    font-family: w;
    width: 450px;
    position: relative;
    height: 110px;
    overflow: hidden;
}

.heroWrapper .bg {
    font-size: 70px;
}

.heroWrapper .sm {
    font-size: 35px;
    height: 40px;
}

.heroWrapper .left {
    left: -25%;
}

.heroWrapper .right {
    top: 50px;
    left: 75%;
}

.heroWrapper .title span {
    position: absolute;
}

.heroWrapper .n {
    z-index: -1;
}

.heroWrapper .text-content p {
    transform: translateY(150px);
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 12px;
    font-weight: 300;
}

.heroWrapper .v_container {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 2fr 1fr;
    /* opacity: 0; */
}

.heroWrapper .left-side {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 4rem;
    gap: 5rem;
}

.heroWrapper .tv {
    font-family: w;
    display: flex;
    text-transform: capitalize;
}

.heroWrapper .bottom {
    transform: translateY(70px);
}

.heroWrapper .text-container {
    max-width: 260px;
}

.heroWrapper .text-container p {
    padding-bottom: 1rem;
    line-height: 1.4;
    opacity: .8;
}

.heroWrapper .right-side {
    margin: auto;
    width: 150px;
    height: 150px;
    border-top: 2px solid;
    border-bottom: 2px solid;
    border-color: rgba(255, 255, 255, .6);
    border-radius: 50%;
    position: relative;
}

.heroWrapper .right-side p {
    position: absolute;
    top: 45%;
    left: -15%;
    text-transform: uppercase;
    font-size: 14px;
}

.heroWrapper .fa-arrow-right-long {
    transform: translateX(20px);
}

.about {
    width: 100vw;
    height: 100vh;
    z-index: 10001;
}

.about img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.aboutEvent {
    padding: 0 2rem 0 2rem;
}

.heading {
    font-family: w;
    margin: 2rem 0 0 0;
    font-size: 3.2rem;
    font-weight: lighter;
    text-align: center;
}

.aboutIndividualEvent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 1rem 2rem 1rem;
    /* border: 2px solid white; */
    border-radius: 10px;
    padding: 2rem;
    /* background: rgba(85, 86, 88, 0.19); */
    /* background: linear-gradient(332.58deg, rgba(217, 217, 217, 0.75) -79.44%, rgba(10, 18, 30, 0.26) 122.03%); */
}

.aboutIndividualEvent .aboutEventContent {
    background: rgba(85, 86, 88, 0.19);
    margin-right: 2rem;
    border-radius: 10px;
}

.topMainPoster {
    width: 15vw;
}

.topMainPoster img {
    width: 100%;
}

.bottomPoster {
    width: 20vw;
}

.bottomPoster img {
    margin-top: 1rem;
    width: 100%;
}

.eventMinorImage {
    margin-top: 4rem;
    margin-right: 1rem;
    width: 50vw;
}

.eventMinorImage img {
    width: 100%;
}

.aboutEventName {
    font-size: 2.5rem;
    font-family: w;
    font-weight: lighter;
}

.aboutEventDescription,
.aboutEventName,
.eventButtonsToBeClicked {
    margin: 2rem 2rem;
}

.eventButtonsToBeClicked {
    display: flex;
    font-size: .9rem;
    gap: 1rem;
}

.eventButtonsToBeClicked .primaryBtn {
    padding: .5rem 1rem;
    /* margin: 0 .5rem; */
    background: linear-gradient(45deg, #0b1121, rgb(16, 171, 255));
    cursor: pointer;
    transition: .5s;
}

.eventButtonsToBeClicked .primaryBtn:hover {
    transform: scale(1.05);
}

.secondaryBtn {
    padding: .5rem 1rem;
    /* margin: 0 .5rem; */
    border: 2px solid rgb(16, 171, 255);
    cursor: pointer;
    transition: .2s;
}

.secondaryBtn:hover {
    background: linear-gradient(45deg, #0b1121, rgb(16, 171, 255));
}

.eventSec {
    padding: 0 2rem 0 2rem;
}

.eventSec .heading {
    font-family: w;
    margin: 2rem 0;
    font-size: 3.2rem;
    font-weight: lighter;
    text-align: center;
}

.eventWrap {
    position: relative;
    padding-left: 4rem;
    margin: 0 0 0 30px;
}

.eventWrap .eventSideLine {
    position: absolute;
    left: 0;
    top: 0;
    width: 6px;
    height: 100%;
    background: rgba(93, 92, 92, 0.28);
}

.eventWrap .eventSideLine::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 6px;
    height: 30px;
    background: linear-gradient(#0b1121, rgb(16, 171, 255));
}

.individualEvents {
    padding: 1rem;
    position: relative;
    margin-bottom: 2rem;
    background: rgba(85, 86, 88, 0.19);
    border-radius: 10px;
}

.individualEvents .eventOnDay {
    display: flex;
    margin: 1rem 0;
}

.individualEvents .eventDate {
    position: absolute;
    left: -94px;
    top: 25px;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    text-align: center;
    /* box-shadow: 0 0 0 0 rgba(#ffdd1d, .5); */
    background: linear-gradient(45deg, #0b1121, rgb(16, 171, 255));
}

.eventPulse {
    animation: pulse 1.2s infinite;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 8px 6px transparent, 0 0 0 0 transparent, 0 0 0 0 transparent;
    }

    10% {
        box-shadow: 0 0 8px 6px #86a3f8, 0 0 10px 10px transparent, 0 0 10px 5px #86a3f8;
    }

    80%,
    100% {
        box-shadow: 0 0 8px 6px transparent, 0 0 0 30px transparent, 0 0 0 30px transparent;
    }
}

.individualEvents .eventDate span {
    padding-top: .8rem;
    font-size: 2rem;
    display: block;
    line-height: 1.6rem;
    font-family: w;
}

.individualEvents .eventTime {
    margin-right: 2rem;
    font-size: 1.2rem;
    font-family: w;
}

.individualEvents .eventDescription .n {
    margin-right: 2rem;
    font-size: 1.5rem;
    font-family: w;
}

.sponser {
    padding: 0 2rem 0 2rem;
}

.sponser .heading {
    font-family: w;
    margin: 2rem 0;
    font-size: 3.2rem;
    font-weight: lighter;
    text-align: center;
}

.sponserSlider {
    height: 7rem;
    position: relative;
    padding: 1.5rem;
    display: flex;
    overflow-x: hidden;
    margin-bottom: 4rem;
    background: rgba(85, 86, 88, 0.19);
}

.sponserSliderWrapper {
    height: 100%;
    display: flex;
    align-items: center;
    animation: sponserCarousel 16s linear infinite;
}

.sponserSliderWrapper .sponserLogo {
    height: 100%;
}

.sponserLogo img {
    height: 100%;
    margin: 0 4rem;
}

@keyframes sponserCarousel {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

footer {
    /* height: 60px; */
    /* display: flex;
    align-items: center;
    justify-content: space-around; */
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, .1);
    padding: 1rem;
}

footer .footerWrapper {
    display: flex;
    /* flex-direction: column; */
    text-align: left;
    /* align-items: center; */
    /* justify-content: center; */
    margin-bottom: 1rem;
}

.footerWrapper .faq {
    max-width: 50%;
    min-width: 50%;
    background: rgba(85, 86, 88, 0.19);
    padding: 1rem;
}

.footerWrapper .faq .qa {
    margin: .5rem;
}

.footerWrapper .faq span {
    font-weight: 700;
    display: block;
}

.footerWrapper .socialMedia {
    max-width: 50%;
    min-width: 50%;
    background: rgba(85, 86, 88, 0.19);
    padding: 1rem;
}

.footerWrapper .socialMedia .con {
    margin: 1rem 0;
}

footer .footerWrapper i {
    font-size: 1.5rem;
    margin: 1rem;
    transition: .2s;
}

footer .footerWrapper i:hover {
    transform: scale(1.1);
    color: rgb(16, 171, 255);
}

/* preloader code */
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(10, 18, 30);
    z-index: 10000;
}

figure {
    margin: 0;
    transform: translate(-50%, -50%) rotate(0deg) scale(1.4, 1.4);
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 150px;
    box-sizing: border-box;
    animation: rotation 20s infinite linear;
}

figure div:after {
    content: "";
    width: 20px;
    height: 20px;
    border: 1px solid #fff;
    box-sizing: border-box;
    position: absolute;
    left: 20px;
    top: 20px;
    animation: shuffle 2s infinite;
}

figure div:nth-child(1) {
    transform: rotate(0deg)
}

figure div:nth-child(1):after {
    animation-delay: -0.5s;
}

figure div:nth-child(2) {
    transform: rotate(45deg)
}

figure div:nth-child(2):after {
    animation-delay: -1s;
}

figure div:nth-child(3) {
    transform: rotate(90deg)
}

figure div:nth-child(3):after {
    animation-delay: -1.5s;
}

figure div:nth-child(4) {
    transform: rotate(135deg)
}

figure div:nth-child(4):after {
    animation-delay: -2s;
}

figure div:nth-child(5) {
    transform: rotate(180deg)
}

figure div:nth-child(5):after {
    animation-delay: -2.5s;
}

figure div:nth-child(6) {
    transform: rotate(225deg)
}

figure div:nth-child(6):after {
    animation-delay: -3s;
}

figure div:nth-child(7) {
    transform: rotate(270deg)
}

figure div:nth-child(7):after {
    animation-delay: -3.5s;
}

figure div:nth-child(8) {
    transform: rotate(315deg)
}

figure div:nth-child(8):after {
    animation-delay: -4;
}

@keyframes rotation {
    100% {
        transform: translate(-50%, -50%) rotate(-360deg) scale(1.4, 1.4);
    }
}

@keyframes shuffle {
    50% {
        transform: scale(0.4, 0.4) rotate(-90deg);
        border-radius: 50%;
    }
}
.mobileAbove{
    display: none;
}
/* preloader code */
.mobHero{
    position: relative;
    width: 100vw;
    height: 100vh;
}
.mobHero img{
    width: 100%;
    height: 100%;
}
.mobHeroWrap{
    position: absolute;
    bottom: 0; left: 0;
    width: 100%; height: 30vh;
    background: linear-gradient(transparent, var(--primary-bg));
    /* border: 5px solid #fff; */
    z-index: 100;
}
.mobileAbout{
    padding: 0 1rem 0rem 1rem;
}
.aboutWrap {
    display: flex;
    flex-direction: column;
}

.aboutWrap .left {
    position: relative;
    height: 350px; width: 100%;
}

.left .circle {
    border: double 10px var(--primary-bg);
    border-radius: 50%;
    background-image: linear-gradient(var(--primary-bg), var(--primary-bg)), radial-gradient(circle at top left, #0b1121, rgb(16, 171, 255));
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.left .circle1 {
    position: absolute;
    top: 0;
    left: 10rem;
    width: 180px;
    height: 180px;
}

.left .circle2 {
    position: absolute;
    top: 6rem;
    left: 2rem;
    width: 150px;
    height: 150px;
}

.left .circle3 {
    position: absolute;
    top: 14rem;
    left: 8rem;
    width: 120px;
    height: 120px;
}

.aboutWrap .right {
    width: 100%;
    padding: 0 1rem;
    text-align: left;
    background: rgba(85, 86, 88, 0.19);

}

.circle1 span {
    font-size: 3.2rem;
    font-family: w;
    /* font-family: 'Oswald', sans-serif; */
}

.circle2 span {
    font-size: 2.7rem;
    font-family: w;
    /* font-family: 'Oswald', sans-serif; */
}

.circle3 span {
    font-size: 2.4rem;
    font-family: w;
    /* font-family: 'Oswald', sans-serif; */
}

/* firefly */
.firefly {
    position: fixed;
    left: 50%;
    top: 50%;
    width: 1vw;
    height: 1vw;
    margin: -0.2vw 0 0 9.8vw;
    animation: ease 200s alternate infinite;
    pointer-events: none;
}

.firefly::before,
.firefly::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transform-origin: -10vw;
}

.firefly::before {
    background: black;
    opacity: 0.4;
    animation: drift ease alternate infinite;
}

.firefly::after {
    background: white;
    opacity: 0;
    box-shadow: 0 0 0vw 0vw yellow;
    animation: drift ease alternate infinite, flash ease infinite;
}

.firefly:nth-child(1) {
    animation-name: move1;
}

.firefly:nth-child(1)::before {
    animation-duration: 18s;
}

.firefly:nth-child(1)::after {
    animation-duration: 18s, 5011ms;
    animation-delay: 0ms, 6024ms;
}

@keyframes move1 {
    0% {
        transform: translateX(-46vw) translateY(36vh) scale(0.38);
    }

    5.55556% {
        transform: translateX(-38vw) translateY(-28vh) scale(0.73);
    }

    11.11111% {
        transform: translateX(-40vw) translateY(41vh) scale(0.95);
    }

    16.66667% {
        transform: translateX(-15vw) translateY(47vh) scale(0.47);
    }

    22.22222% {
        transform: translateX(47vw) translateY(-28vh) scale(0.35);
    }

    27.77778% {
        transform: translateX(48vw) translateY(-38vh) scale(0.56);
    }

    33.33333% {
        transform: translateX(-27vw) translateY(41vh) scale(0.37);
    }

    38.88889% {
        transform: translateX(41vw) translateY(22vh) scale(0.83);
    }

    44.44444% {
        transform: translateX(-46vw) translateY(-17vh) scale(0.79);
    }

    50% {
        transform: translateX(12vw) translateY(11vh) scale(0.49);
    }

    55.55556% {
        transform: translateX(21vw) translateY(1vh) scale(0.43);
    }

    61.11111% {
        transform: translateX(31vw) translateY(30vh) scale(0.44);
    }

    66.66667% {
        transform: translateX(-14vw) translateY(-13vh) scale(0.53);
    }

    72.22222% {
        transform: translateX(-48vw) translateY(23vh) scale(0.3);
    }

    77.77778% {
        transform: translateX(45vw) translateY(1vh) scale(0.37);
    }

    83.33333% {
        transform: translateX(-13vw) translateY(19vh) scale(0.27);
    }

    88.88889% {
        transform: translateX(48vw) translateY(-2vh) scale(0.36);
    }

    94.44444% {
        transform: translateX(4vw) translateY(-47vh) scale(0.49);
    }

    100% {
        transform: translateX(26vw) translateY(46vh) scale(0.86);
    }
}

.firefly:nth-child(2) {
    animation-name: move2;
}

.firefly:nth-child(2)::before {
    animation-duration: 16s;
}

.firefly:nth-child(2)::after {
    animation-duration: 16s, 9984ms;
    animation-delay: 0ms, 2866ms;
}

@keyframes move2 {
    0% {
        transform: translateX(-38vw) translateY(-18vh) scale(0.86);
    }

    4% {
        transform: translateX(48vw) translateY(-42vh) scale(0.68);
    }

    8% {
        transform: translateX(-39vw) translateY(20vh) scale(0.85);
    }

    12% {
        transform: translateX(-33vw) translateY(-26vh) scale(0.85);
    }

    16% {
        transform: translateX(-6vw) translateY(13vh) scale(0.34);
    }

    20% {
        transform: translateX(-40vw) translateY(-5vh) scale(0.81);
    }

    24% {
        transform: translateX(-9vw) translateY(-23vh) scale(0.56);
    }

    28% {
        transform: translateX(24vw) translateY(3vh) scale(0.42);
    }

    32% {
        transform: translateX(-39vw) translateY(-16vh) scale(0.67);
    }

    36% {
        transform: translateX(16vw) translateY(32vh) scale(0.78);
    }

    40% {
        transform: translateX(-28vw) translateY(-6vh) scale(0.95);
    }

    44% {
        transform: translateX(-12vw) translateY(-17vh) scale(0.54);
    }

    48% {
        transform: translateX(-23vw) translateY(-3vh) scale(0.77);
    }

    52% {
        transform: translateX(19vw) translateY(-39vh) scale(0.74);
    }

    56% {
        transform: translateX(1vw) translateY(1vh) scale(0.92);
    }

    60% {
        transform: translateX(-39vw) translateY(26vh) scale(0.66);
    }

    64% {
        transform: translateX(-15vw) translateY(-8vh) scale(0.5);
    }

    68% {
        transform: translateX(-9vw) translateY(24vh) scale(0.61);
    }

    72% {
        transform: translateX(-29vw) translateY(49vh) scale(0.58);
    }

    76% {
        transform: translateX(-24vw) translateY(16vh) scale(0.68);
    }

    80% {
        transform: translateX(-28vw) translateY(-9vh) scale(0.62);
    }

    84% {
        transform: translateX(-16vw) translateY(-48vh) scale(0.9);
    }

    88% {
        transform: translateX(38vw) translateY(5vh) scale(0.97);
    }

    92% {
        transform: translateX(16vw) translateY(35vh) scale(0.51);
    }

    96% {
        transform: translateX(-16vw) translateY(-47vh) scale(0.79);
    }

    100% {
        transform: translateX(4vw) translateY(8vh) scale(0.98);
    }
}

.firefly:nth-child(3) {
    animation-name: move3;
}

.firefly:nth-child(3)::before {
    animation-duration: 15s;
}

.firefly:nth-child(3)::after {
    animation-duration: 15s, 10536ms;
    animation-delay: 0ms, 1464ms;
}

@keyframes move3 {
    0% {
        transform: translateX(-39vw) translateY(-25vh) scale(0.71);
    }

    5.55556% {
        transform: translateX(1vw) translateY(-45vh) scale(0.82);
    }

    11.11111% {
        transform: translateX(17vw) translateY(42vh) scale(0.86);
    }

    16.66667% {
        transform: translateX(42vw) translateY(-32vh) scale(0.54);
    }

    22.22222% {
        transform: translateX(-46vw) translateY(-39vh) scale(0.6);
    }

    27.77778% {
        transform: translateX(-31vw) translateY(-4vh) scale(0.44);
    }

    33.33333% {
        transform: translateX(40vw) translateY(-13vh) scale(0.96);
    }

    38.88889% {
        transform: translateX(-22vw) translateY(-16vh) scale(0.67);
    }

    44.44444% {
        transform: translateX(-15vw) translateY(-45vh) scale(0.46);
    }

    50% {
        transform: translateX(-1vw) translateY(11vh) scale(0.92);
    }

    55.55556% {
        transform: translateX(33vw) translateY(-16vh) scale(0.79);
    }

    61.11111% {
        transform: translateX(29vw) translateY(46vh) scale(0.58);
    }

    66.66667% {
        transform: translateX(31vw) translateY(-6vh) scale(0.85);
    }

    72.22222% {
        transform: translateX(8vw) translateY(15vh) scale(0.63);
    }

    77.77778% {
        transform: translateX(25vw) translateY(19vh) scale(0.53);
    }

    83.33333% {
        transform: translateX(-20vw) translateY(-8vh) scale(0.37);
    }

    88.88889% {
        transform: translateX(14vw) translateY(7vh) scale(0.31);
    }

    94.44444% {
        transform: translateX(0vw) translateY(36vh) scale(0.68);
    }

    100% {
        transform: translateX(-5vw) translateY(29vh) scale(0.35);
    }
}

.firefly:nth-child(4) {
    animation-name: move4;
}

.firefly:nth-child(4)::before {
    animation-duration: 13s;
}

.firefly:nth-child(4)::after {
    animation-duration: 13s, 7894ms;
    animation-delay: 0ms, 3477ms;
}

@keyframes move4 {
    0% {
        transform: translateX(45vw) translateY(-1vh) scale(0.33);
    }

    5.88235% {
        transform: translateX(-24vw) translateY(2vh) scale(0.44);
    }

    11.76471% {
        transform: translateX(50vw) translateY(-11vh) scale(0.46);
    }

    17.64706% {
        transform: translateX(38vw) translateY(21vh) scale(0.28);
    }

    23.52941% {
        transform: translateX(-41vw) translateY(18vh) scale(0.72);
    }

    29.41176% {
        transform: translateX(22vw) translateY(-21vh) scale(0.85);
    }

    35.29412% {
        transform: translateX(47vw) translateY(33vh) scale(0.5);
    }

    41.17647% {
        transform: translateX(19vw) translateY(23vh) scale(0.72);
    }

    47.05882% {
        transform: translateX(-13vw) translateY(-43vh) scale(0.57);
    }

    52.94118% {
        transform: translateX(27vw) translateY(43vh) scale(0.26);
    }

    58.82353% {
        transform: translateX(-22vw) translateY(14vh) scale(0.3);
    }

    64.70588% {
        transform: translateX(21vw) translateY(7vh) scale(0.54);
    }

    70.58824% {
        transform: translateX(8vw) translateY(33vh) scale(0.34);
    }

    76.47059% {
        transform: translateX(2vw) translateY(-16vh) scale(0.9);
    }

    82.35294% {
        transform: translateX(27vw) translateY(-4vh) scale(0.66);
    }

    88.23529% {
        transform: translateX(-32vw) translateY(-22vh) scale(0.97);
    }

    94.11765% {
        transform: translateX(-9vw) translateY(17vh) scale(0.35);
    }

    100% {
        transform: translateX(-43vw) translateY(-25vh) scale(0.44);
    }
}

.firefly:nth-child(5) {
    animation-name: move5;
}

.firefly:nth-child(5)::before {
    animation-duration: 15s;
}

.firefly:nth-child(5)::after {
    animation-duration: 15s, 8474ms;
    animation-delay: 0ms, 2086ms;
}

@keyframes move5 {
    0% {
        transform: translateX(28vw) translateY(35vh) scale(0.6);
    }

    5% {
        transform: translateX(-16vw) translateY(28vh) scale(0.61);
    }

    10% {
        transform: translateX(-18vw) translateY(-41vh) scale(0.5);
    }

    15% {
        transform: translateX(38vw) translateY(-30vh) scale(0.84);
    }

    20% {
        transform: translateX(-10vw) translateY(6vh) scale(0.99);
    }

    25% {
        transform: translateX(4vw) translateY(46vh) scale(0.57);
    }

    30% {
        transform: translateX(-37vw) translateY(31vh) scale(0.46);
    }

    35% {
        transform: translateX(-11vw) translateY(26vh) scale(0.59);
    }

    40% {
        transform: translateX(-11vw) translateY(-41vh) scale(0.58);
    }

    45% {
        transform: translateX(-49vw) translateY(47vh) scale(0.65);
    }

    50% {
        transform: translateX(8vw) translateY(-29vh) scale(0.51);
    }

    55% {
        transform: translateX(10vw) translateY(22vh) scale(0.58);
    }

    60% {
        transform: translateX(-35vw) translateY(29vh) scale(0.72);
    }

    65% {
        transform: translateX(-21vw) translateY(29vh) scale(0.53);
    }

    70% {
        transform: translateX(-21vw) translateY(6vh) scale(0.3);
    }

    75% {
        transform: translateX(8vw) translateY(8vh) scale(0.58);
    }

    80% {
        transform: translateX(-2vw) translateY(8vh) scale(0.9);
    }

    85% {
        transform: translateX(-45vw) translateY(37vh) scale(0.79);
    }

    90% {
        transform: translateX(-43vw) translateY(12vh) scale(0.84);
    }

    95% {
        transform: translateX(36vw) translateY(-46vh) scale(0.68);
    }

    100% {
        transform: translateX(-28vw) translateY(46vh) scale(0.95);
    }
}

.firefly:nth-child(6) {
    animation-name: move6;
}

.firefly:nth-child(6)::before {
    animation-duration: 18s;
}

.firefly:nth-child(6)::after {
    animation-duration: 18s, 8950ms;
    animation-delay: 0ms, 2081ms;
}

@keyframes move6 {
    0% {
        transform: translateX(16vw) translateY(45vh) scale(0.61);
    }

    4.7619% {
        transform: translateX(23vw) translateY(-47vh) scale(0.3);
    }

    9.52381% {
        transform: translateX(10vw) translateY(18vh) scale(1);
    }

    14.28571% {
        transform: translateX(45vw) translateY(45vh) scale(0.49);
    }

    19.04762% {
        transform: translateX(49vw) translateY(14vh) scale(0.98);
    }

    23.80952% {
        transform: translateX(-1vw) translateY(38vh) scale(0.45);
    }

    28.57143% {
        transform: translateX(-19vw) translateY(-9vh) scale(0.33);
    }

    33.33333% {
        transform: translateX(4vw) translateY(-15vh) scale(0.79);
    }

    38.09524% {
        transform: translateX(13vw) translateY(18vh) scale(0.35);
    }

    42.85714% {
        transform: translateX(-6vw) translateY(-15vh) scale(0.69);
    }

    47.61905% {
        transform: translateX(-7vw) translateY(-27vh) scale(0.4);
    }

    52.38095% {
        transform: translateX(9vw) translateY(-11vh) scale(0.94);
    }

    57.14286% {
        transform: translateX(-10vw) translateY(22vh) scale(0.53);
    }

    61.90476% {
        transform: translateX(-4vw) translateY(-22vh) scale(0.4);
    }

    66.66667% {
        transform: translateX(-29vw) translateY(-49vh) scale(0.74);
    }

    71.42857% {
        transform: translateX(-39vw) translateY(17vh) scale(1);
    }

    76.19048% {
        transform: translateX(49vw) translateY(-44vh) scale(0.63);
    }

    80.95238% {
        transform: translateX(24vw) translateY(18vh) scale(0.43);
    }

    85.71429% {
        transform: translateX(-15vw) translateY(32vh) scale(0.77);
    }

    90.47619% {
        transform: translateX(-11vw) translateY(15vh) scale(0.94);
    }

    95.2381% {
        transform: translateX(19vw) translateY(-2vh) scale(0.73);
    }

    100% {
        transform: translateX(-20vw) translateY(8vh) scale(0.79);
    }
}

.firefly:nth-child(7) {
    animation-name: move7;
}

.firefly:nth-child(7)::before {
    animation-duration: 14s;
}

.firefly:nth-child(7)::after {
    animation-duration: 14s, 7727ms;
    animation-delay: 0ms, 3145ms;
}

@keyframes move7 {
    0% {
        transform: translateX(42vw) translateY(-40vh) scale(0.3);
    }

    4.34783% {
        transform: translateX(-42vw) translateY(-37vh) scale(0.7);
    }

    8.69565% {
        transform: translateX(44vw) translateY(-11vh) scale(0.59);
    }

    13.04348% {
        transform: translateX(34vw) translateY(-32vh) scale(0.26);
    }

    17.3913% {
        transform: translateX(43vw) translateY(26vh) scale(0.56);
    }

    21.73913% {
        transform: translateX(-4vw) translateY(-3vh) scale(0.72);
    }

    26.08696% {
        transform: translateX(-8vw) translateY(1vh) scale(0.5);
    }

    30.43478% {
        transform: translateX(-47vw) translateY(-21vh) scale(0.44);
    }

    34.78261% {
        transform: translateX(-35vw) translateY(49vh) scale(0.99);
    }

    39.13043% {
        transform: translateX(15vw) translateY(-25vh) scale(0.43);
    }

    43.47826% {
        transform: translateX(48vw) translateY(-38vh) scale(0.91);
    }

    47.82609% {
        transform: translateX(22vw) translateY(-40vh) scale(0.8);
    }

    52.17391% {
        transform: translateX(2vw) translateY(15vh) scale(0.35);
    }

    56.52174% {
        transform: translateX(-16vw) translateY(17vh) scale(0.52);
    }

    60.86957% {
        transform: translateX(-13vw) translateY(-36vh) scale(0.33);
    }

    65.21739% {
        transform: translateX(30vw) translateY(-2vh) scale(0.81);
    }

    69.56522% {
        transform: translateX(18vw) translateY(-40vh) scale(0.37);
    }

    73.91304% {
        transform: translateX(-43vw) translateY(-37vh) scale(0.66);
    }

    78.26087% {
        transform: translateX(-6vw) translateY(-33vh) scale(0.91);
    }

    82.6087% {
        transform: translateX(-33vw) translateY(31vh) scale(0.42);
    }

    86.95652% {
        transform: translateX(-10vw) translateY(42vh) scale(0.73);
    }

    91.30435% {
        transform: translateX(-46vw) translateY(-37vh) scale(0.86);
    }

    95.65217% {
        transform: translateX(-28vw) translateY(35vh) scale(0.73);
    }

    100% {
        transform: translateX(12vw) translateY(-19vh) scale(0.96);
    }
}

.firefly:nth-child(8) {
    animation-name: move8;
}

.firefly:nth-child(8)::before {
    animation-duration: 9s;
}

.firefly:nth-child(8)::after {
    animation-duration: 9s, 8781ms;
    animation-delay: 0ms, 799ms;
}

@keyframes move8 {
    0% {
        transform: translateX(-14vw) translateY(-17vh) scale(0.68);
    }

    4.54545% {
        transform: translateX(-24vw) translateY(14vh) scale(0.52);
    }

    9.09091% {
        transform: translateX(-28vw) translateY(44vh) scale(0.78);
    }

    13.63636% {
        transform: translateX(26vw) translateY(9vh) scale(0.64);
    }

    18.18182% {
        transform: translateX(-14vw) translateY(-43vh) scale(0.44);
    }

    22.72727% {
        transform: translateX(0vw) translateY(6vh) scale(0.26);
    }

    27.27273% {
        transform: translateX(27vw) translateY(16vh) scale(0.41);
    }

    31.81818% {
        transform: translateX(7vw) translateY(13vh) scale(0.28);
    }

    36.36364% {
        transform: translateX(41vw) translateY(23vh) scale(0.82);
    }

    40.90909% {
        transform: translateX(-32vw) translateY(41vh) scale(0.66);
    }

    45.45455% {
        transform: translateX(38vw) translateY(-18vh) scale(0.65);
    }

    50% {
        transform: translateX(-4vw) translateY(-7vh) scale(0.44);
    }

    54.54545% {
        transform: translateX(-16vw) translateY(-13vh) scale(0.78);
    }

    59.09091% {
        transform: translateX(-26vw) translateY(-46vh) scale(0.52);
    }

    63.63636% {
        transform: translateX(-47vw) translateY(23vh) scale(0.97);
    }

    68.18182% {
        transform: translateX(-30vw) translateY(40vh) scale(0.63);
    }

    72.72727% {
        transform: translateX(19vw) translateY(27vh) scale(0.83);
    }

    77.27273% {
        transform: translateX(4vw) translateY(44vh) scale(0.71);
    }

    81.81818% {
        transform: translateX(-13vw) translateY(18vh) scale(0.46);
    }

    86.36364% {
        transform: translateX(-8vw) translateY(11vh) scale(0.37);
    }

    90.90909% {
        transform: translateX(-38vw) translateY(25vh) scale(0.73);
    }

    95.45455% {
        transform: translateX(37vw) translateY(-25vh) scale(0.29);
    }

    100% {
        transform: translateX(-3vw) translateY(11vh) scale(0.47);
    }
}

.firefly:nth-child(9) {
    animation-name: move9;
}

.firefly:nth-child(9)::before {
    animation-duration: 15s;
}

.firefly:nth-child(9)::after {
    animation-duration: 15s, 10993ms;
    animation-delay: 0ms, 2401ms;
}

@keyframes move9 {
    0% {
        transform: translateX(-33vw) translateY(-46vh) scale(0.99);
    }

    3.57143% {
        transform: translateX(-9vw) translateY(-3vh) scale(0.8);
    }

    7.14286% {
        transform: translateX(4vw) translateY(-49vh) scale(0.29);
    }

    10.71429% {
        transform: translateX(-23vw) translateY(18vh) scale(0.46);
    }

    14.28571% {
        transform: translateX(6vw) translateY(39vh) scale(0.66);
    }

    17.85714% {
        transform: translateX(-30vw) translateY(-28vh) scale(0.8);
    }

    21.42857% {
        transform: translateX(14vw) translateY(46vh) scale(0.81);
    }

    25% {
        transform: translateX(-6vw) translateY(30vh) scale(0.57);
    }

    28.57143% {
        transform: translateX(34vw) translateY(23vh) scale(0.45);
    }

    32.14286% {
        transform: translateX(4vw) translateY(8vh) scale(0.38);
    }

    35.71429% {
        transform: translateX(-12vw) translateY(-48vh) scale(0.6);
    }

    39.28571% {
        transform: translateX(13vw) translateY(-13vh) scale(0.56);
    }

    42.85714% {
        transform: translateX(46vw) translateY(12vh) scale(0.59);
    }

    46.42857% {
        transform: translateX(-19vw) translateY(-31vh) scale(0.91);
    }

    50% {
        transform: translateX(26vw) translateY(-18vh) scale(0.74);
    }

    53.57143% {
        transform: translateX(26vw) translateY(-16vh) scale(0.7);
    }

    57.14286% {
        transform: translateX(47vw) translateY(9vh) scale(0.38);
    }

    60.71429% {
        transform: translateX(48vw) translateY(-2vh) scale(0.91);
    }

    64.28571% {
        transform: translateX(21vw) translateY(41vh) scale(0.47);
    }

    67.85714% {
        transform: translateX(48vw) translateY(-2vh) scale(0.29);
    }

    71.42857% {
        transform: translateX(11vw) translateY(-24vh) scale(0.95);
    }

    75% {
        transform: translateX(-45vw) translateY(-48vh) scale(0.76);
    }

    78.57143% {
        transform: translateX(29vw) translateY(-30vh) scale(0.76);
    }

    82.14286% {
        transform: translateX(-14vw) translateY(13vh) scale(0.84);
    }

    85.71429% {
        transform: translateX(33vw) translateY(-47vh) scale(0.93);
    }

    89.28571% {
        transform: translateX(38vw) translateY(5vh) scale(0.54);
    }

    92.85714% {
        transform: translateX(43vw) translateY(-15vh) scale(0.69);
    }

    96.42857% {
        transform: translateX(7vw) translateY(28vh) scale(0.28);
    }

    100% {
        transform: translateX(-47vw) translateY(-25vh) scale(0.92);
    }
}

.firefly:nth-child(10) {
    animation-name: move10;
}

.firefly:nth-child(10)::before {
    animation-duration: 12s;
}

.firefly:nth-child(10)::after {
    animation-duration: 12s, 5784ms;
    animation-delay: 0ms, 3287ms;
}

@keyframes move10 {
    0% {
        transform: translateX(-28vw) translateY(34vh) scale(0.45);
    }

    5% {
        transform: translateX(14vw) translateY(-14vh) scale(0.64);
    }

    10% {
        transform: translateX(44vw) translateY(-15vh) scale(0.71);
    }

    15% {
        transform: translateX(9vw) translateY(5vh) scale(0.5);
    }

    20% {
        transform: translateX(-16vw) translateY(10vh) scale(0.9);
    }

    25% {
        transform: translateX(-2vw) translateY(6vh) scale(0.51);
    }

    30% {
        transform: translateX(46vw) translateY(23vh) scale(0.77);
    }

    35% {
        transform: translateX(14vw) translateY(3vh) scale(0.26);
    }

    40% {
        transform: translateX(39vw) translateY(-6vh) scale(0.31);
    }

    45% {
        transform: translateX(-29vw) translateY(-31vh) scale(0.65);
    }

    50% {
        transform: translateX(-38vw) translateY(-41vh) scale(0.76);
    }

    55% {
        transform: translateX(-14vw) translateY(-1vh) scale(0.71);
    }

    60% {
        transform: translateX(11vw) translateY(-33vh) scale(0.82);
    }

    65% {
        transform: translateX(13vw) translateY(14vh) scale(0.79);
    }

    70% {
        transform: translateX(-41vw) translateY(-26vh) scale(0.45);
    }

    75% {
        transform: translateX(-23vw) translateY(8vh) scale(0.42);
    }

    80% {
        transform: translateX(31vw) translateY(-26vh) scale(0.6);
    }

    85% {
        transform: translateX(-17vw) translateY(25vh) scale(0.94);
    }

    90% {
        transform: translateX(10vw) translateY(40vh) scale(0.44);
    }

    95% {
        transform: translateX(2vw) translateY(-37vh) scale(0.92);
    }

    100% {
        transform: translateX(12vw) translateY(44vh) scale(0.55);
    }
}

.firefly:nth-child(11) {
    animation-name: move11;
}

.firefly:nth-child(11)::before {
    animation-duration: 16s;
}

.firefly:nth-child(11)::after {
    animation-duration: 16s, 8999ms;
    animation-delay: 0ms, 985ms;
}

@keyframes move11 {
    0% {
        transform: translateX(-6vw) translateY(24vh) scale(0.43);
    }

    4.34783% {
        transform: translateX(-45vw) translateY(-35vh) scale(0.65);
    }

    8.69565% {
        transform: translateX(-12vw) translateY(-43vh) scale(0.6);
    }

    13.04348% {
        transform: translateX(-26vw) translateY(28vh) scale(0.48);
    }

    17.3913% {
        transform: translateX(4vw) translateY(-45vh) scale(0.76);
    }

    21.73913% {
        transform: translateX(27vw) translateY(-5vh) scale(0.42);
    }

    26.08696% {
        transform: translateX(-47vw) translateY(37vh) scale(0.86);
    }

    30.43478% {
        transform: translateX(-41vw) translateY(50vh) scale(0.55);
    }

    34.78261% {
        transform: translateX(12vw) translateY(33vh) scale(0.78);
    }

    39.13043% {
        transform: translateX(5vw) translateY(-20vh) scale(0.51);
    }

    43.47826% {
        transform: translateX(-41vw) translateY(18vh) scale(0.38);
    }

    47.82609% {
        transform: translateX(0vw) translateY(-7vh) scale(0.74);
    }

    52.17391% {
        transform: translateX(-12vw) translateY(-49vh) scale(0.84);
    }

    56.52174% {
        transform: translateX(-40vw) translateY(23vh) scale(0.52);
    }

    60.86957% {
        transform: translateX(42vw) translateY(-4vh) scale(0.83);
    }

    65.21739% {
        transform: translateX(-48vw) translateY(-17vh) scale(0.35);
    }

    69.56522% {
        transform: translateX(30vw) translateY(-41vh) scale(0.4);
    }

    73.91304% {
        transform: translateX(-20vw) translateY(23vh) scale(0.87);
    }

    78.26087% {
        transform: translateX(-29vw) translateY(-1vh) scale(0.56);
    }

    82.6087% {
        transform: translateX(40vw) translateY(41vh) scale(0.94);
    }

    86.95652% {
        transform: translateX(41vw) translateY(45vh) scale(0.58);
    }

    91.30435% {
        transform: translateX(3vw) translateY(-26vh) scale(0.3);
    }

    95.65217% {
        transform: translateX(29vw) translateY(-11vh) scale(0.73);
    }

    100% {
        transform: translateX(46vw) translateY(25vh) scale(0.98);
    }
}

.firefly:nth-child(12) {
    animation-name: move12;
}

.firefly:nth-child(12)::before {
    animation-duration: 11s;
}

.firefly:nth-child(12)::after {
    animation-duration: 11s, 10619ms;
    animation-delay: 0ms, 4741ms;
}

@keyframes move12 {
    0% {
        transform: translateX(12vw) translateY(27vh) scale(0.65);
    }

    4% {
        transform: translateX(35vw) translateY(40vh) scale(0.8);
    }

    8% {
        transform: translateX(30vw) translateY(-10vh) scale(0.7);
    }

    12% {
        transform: translateX(-8vw) translateY(44vh) scale(0.82);
    }

    16% {
        transform: translateX(-36vw) translateY(-25vh) scale(0.53);
    }

    20% {
        transform: translateX(12vw) translateY(-43vh) scale(0.64);
    }

    24% {
        transform: translateX(5vw) translateY(-42vh) scale(0.58);
    }

    28% {
        transform: translateX(42vw) translateY(-29vh) scale(0.92);
    }

    32% {
        transform: translateX(46vw) translateY(3vh) scale(0.31);
    }

    36% {
        transform: translateX(45vw) translateY(-45vh) scale(0.41);
    }

    40% {
        transform: translateX(45vw) translateY(16vh) scale(0.49);
    }

    44% {
        transform: translateX(-49vw) translateY(25vh) scale(0.76);
    }

    48% {
        transform: translateX(13vw) translateY(26vh) scale(0.26);
    }

    52% {
        transform: translateX(-48vw) translateY(7vh) scale(0.92);
    }

    56% {
        transform: translateX(-26vw) translateY(6vh) scale(0.82);
    }

    60% {
        transform: translateX(45vw) translateY(33vh) scale(0.69);
    }

    64% {
        transform: translateX(9vw) translateY(-31vh) scale(0.7);
    }

    68% {
        transform: translateX(-1vw) translateY(-25vh) scale(0.96);
    }

    72% {
        transform: translateX(33vw) translateY(-24vh) scale(0.76);
    }

    76% {
        transform: translateX(-2vw) translateY(-37vh) scale(0.77);
    }

    80% {
        transform: translateX(14vw) translateY(-2vh) scale(0.83);
    }

    84% {
        transform: translateX(-7vw) translateY(-29vh) scale(0.51);
    }

    88% {
        transform: translateX(32vw) translateY(-36vh) scale(0.38);
    }

    92% {
        transform: translateX(42vw) translateY(-47vh) scale(0.89);
    }

    96% {
        transform: translateX(-43vw) translateY(-32vh) scale(0.76);
    }

    100% {
        transform: translateX(17vw) translateY(26vh) scale(0.64);
    }
}

.firefly:nth-child(13) {
    animation-name: move13;
}

.firefly:nth-child(13)::before {
    animation-duration: 11s;
}

.firefly:nth-child(13)::after {
    animation-duration: 11s, 10941ms;
    animation-delay: 0ms, 5946ms;
}

@keyframes move13 {
    0% {
        transform: translateX(11vw) translateY(40vh) scale(0.75);
    }

    4.34783% {
        transform: translateX(0vw) translateY(-40vh) scale(0.65);
    }

    8.69565% {
        transform: translateX(12vw) translateY(-2vh) scale(0.32);
    }

    13.04348% {
        transform: translateX(24vw) translateY(4vh) scale(0.53);
    }

    17.3913% {
        transform: translateX(39vw) translateY(11vh) scale(0.74);
    }

    21.73913% {
        transform: translateX(18vw) translateY(-36vh) scale(1);
    }

    26.08696% {
        transform: translateX(-25vw) translateY(-43vh) scale(0.68);
    }

    30.43478% {
        transform: translateX(-38vw) translateY(13vh) scale(0.74);
    }

    34.78261% {
        transform: translateX(0vw) translateY(-46vh) scale(0.94);
    }

    39.13043% {
        transform: translateX(4vw) translateY(26vh) scale(0.42);
    }

    43.47826% {
        transform: translateX(-18vw) translateY(42vh) scale(0.61);
    }

    47.82609% {
        transform: translateX(-13vw) translateY(41vh) scale(0.5);
    }

    52.17391% {
        transform: translateX(-26vw) translateY(18vh) scale(0.69);
    }

    56.52174% {
        transform: translateX(34vw) translateY(-48vh) scale(0.71);
    }

    60.86957% {
        transform: translateX(46vw) translateY(40vh) scale(0.58);
    }

    65.21739% {
        transform: translateX(32vw) translateY(-13vh) scale(0.56);
    }

    69.56522% {
        transform: translateX(27vw) translateY(-28vh) scale(0.39);
    }

    73.91304% {
        transform: translateX(-12vw) translateY(-32vh) scale(0.88);
    }

    78.26087% {
        transform: translateX(50vw) translateY(-35vh) scale(0.6);
    }

    82.6087% {
        transform: translateX(40vw) translateY(-19vh) scale(0.95);
    }

    86.95652% {
        transform: translateX(45vw) translateY(20vh) scale(0.46);
    }

    91.30435% {
        transform: translateX(46vw) translateY(9vh) scale(0.69);
    }

    95.65217% {
        transform: translateX(-19vw) translateY(-20vh) scale(0.79);
    }

    100% {
        transform: translateX(41vw) translateY(-2vh) scale(0.33);
    }
}

.firefly:nth-child(14) {
    animation-name: move14;
}

.firefly:nth-child(14)::before {
    animation-duration: 18s;
}

.firefly:nth-child(14)::after {
    animation-duration: 18s, 9335ms;
    animation-delay: 0ms, 1762ms;
}

@keyframes move14 {
    0% {
        transform: translateX(-36vw) translateY(-22vh) scale(0.78);
    }

    5% {
        transform: translateX(9vw) translateY(-6vh) scale(0.95);
    }

    10% {
        transform: translateX(3vw) translateY(30vh) scale(0.91);
    }

    15% {
        transform: translateX(-25vw) translateY(43vh) scale(0.92);
    }

    20% {
        transform: translateX(22vw) translateY(-40vh) scale(0.82);
    }

    25% {
        transform: translateX(41vw) translateY(-33vh) scale(1);
    }

    30% {
        transform: translateX(-42vw) translateY(20vh) scale(1);
    }

    35% {
        transform: translateX(37vw) translateY(9vh) scale(0.28);
    }

    40% {
        transform: translateX(29vw) translateY(-14vh) scale(0.8);
    }

    45% {
        transform: translateX(-11vw) translateY(-20vh) scale(0.26);
    }

    50% {
        transform: translateX(16vw) translateY(-23vh) scale(0.64);
    }

    55% {
        transform: translateX(-9vw) translateY(-32vh) scale(0.52);
    }

    60% {
        transform: translateX(19vw) translateY(-2vh) scale(0.31);
    }

    65% {
        transform: translateX(50vw) translateY(-21vh) scale(0.36);
    }

    70% {
        transform: translateX(48vw) translateY(-18vh) scale(0.36);
    }

    75% {
        transform: translateX(13vw) translateY(10vh) scale(0.69);
    }

    80% {
        transform: translateX(45vw) translateY(4vh) scale(0.98);
    }

    85% {
        transform: translateX(45vw) translateY(42vh) scale(0.31);
    }

    90% {
        transform: translateX(39vw) translateY(-32vh) scale(0.62);
    }

    95% {
        transform: translateX(0vw) translateY(35vh) scale(0.36);
    }

    100% {
        transform: translateX(49vw) translateY(-7vh) scale(0.34);
    }
}

.firefly:nth-child(15) {
    animation-name: move15;
}

.firefly:nth-child(15)::before {
    animation-duration: 9s;
}

.firefly:nth-child(15)::after {
    animation-duration: 9s, 9695ms;
    animation-delay: 0ms, 7928ms;
}

@keyframes move15 {
    0% {
        transform: translateX(15vw) translateY(7vh) scale(0.57);
    }

    4.34783% {
        transform: translateX(34vw) translateY(46vh) scale(0.91);
    }

    8.69565% {
        transform: translateX(-23vw) translateY(14vh) scale(0.72);
    }

    13.04348% {
        transform: translateX(43vw) translateY(-43vh) scale(1);
    }

    17.3913% {
        transform: translateX(-11vw) translateY(17vh) scale(0.48);
    }

    21.73913% {
        transform: translateX(14vw) translateY(1vh) scale(0.38);
    }

    26.08696% {
        transform: translateX(-34vw) translateY(-2vh) scale(0.96);
    }

    30.43478% {
        transform: translateX(-6vw) translateY(-43vh) scale(0.93);
    }

    34.78261% {
        transform: translateX(50vw) translateY(19vh) scale(1);
    }

    39.13043% {
        transform: translateX(-43vw) translateY(-29vh) scale(0.55);
    }

    43.47826% {
        transform: translateX(31vw) translateY(7vh) scale(0.79);
    }

    47.82609% {
        transform: translateX(28vw) translateY(17vh) scale(0.9);
    }

    52.17391% {
        transform: translateX(27vw) translateY(-26vh) scale(0.44);
    }

    56.52174% {
        transform: translateX(-11vw) translateY(-19vh) scale(0.66);
    }

    60.86957% {
        transform: translateX(1vw) translateY(38vh) scale(0.85);
    }

    65.21739% {
        transform: translateX(-20vw) translateY(5vh) scale(0.93);
    }

    69.56522% {
        transform: translateX(36vw) translateY(40vh) scale(0.31);
    }

    73.91304% {
        transform: translateX(26vw) translateY(-23vh) scale(0.71);
    }

    78.26087% {
        transform: translateX(20vw) translateY(30vh) scale(0.59);
    }

    82.6087% {
        transform: translateX(37vw) translateY(-23vh) scale(0.32);
    }

    86.95652% {
        transform: translateX(12vw) translateY(40vh) scale(0.32);
    }

    91.30435% {
        transform: translateX(-29vw) translateY(-33vh) scale(0.95);
    }

    95.65217% {
        transform: translateX(9vw) translateY(-40vh) scale(0.82);
    }

    100% {
        transform: translateX(44vw) translateY(-8vh) scale(0.66);
    }
}

@keyframes drift {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes flash {

    0%,
    30%,
    100% {
        opacity: 0;
        box-shadow: 0 0 0vw 0vw yellow;
    }

    5% {
        opacity: 1;
        box-shadow: 0 0 2vw 0.4vw yellow;
    }
}
/* firefly */

@media (max-width: 750px) {
    .aboutEvent {
        padding: 0rem 0rem 0rem 0rem;
    }

    .aboutIndividualEvent {
        flex-direction: column-reverse;
        align-items: center;
        /* justify-content: center; */
        margin: 0 0 2rem 0;
        padding: 1rem;
    }

    .aboutIndividualEvent .aboutEventContent {
        margin-right: 0;
    }

    .aboutEventName {
        font-size: 2rem;
    }

    .bottomPoster {
        display: none
    }

    .topMainPoster {
        align-items: center;
        width: 100%;
        padding: 0 2rem 1rem 2rem;
    }

    .eventMinorImage {
        display: none;
    }

    .eventButtonsToBeClicked {
        flex-wrap: wrap;
    }

    .eventSec {
        padding: 0 1rem 0 1rem;
    }

    .eventWrap {
        padding-left: 3rem;
        margin: 0 0 0 22.5px;
    }

    .individualEvents .eventDate {
        left: -75px;
        top: 25px;
        width: 60px;
        height: 60px;
        font-size: .9rem;
    }

    .individualEvents .eventDate span {
        padding-top: .8rem;
        font-size: 1.2rem;
        font-weight: 700;
        line-height: 1.2rem;
    }

    .individualEvents .eventTime {
        margin-right: .5rem;
        font-size: 1.2rem;
    }

    .individualEvents .eventDescription .n {
        margin-right: .5rem;
        font-size: 1.2rem;
        font-family: w;
    }

    .sponser {
        padding: 0 1rem 0 1rem;
    }

    .sponser .heading {
        font-size: 2rem;
    }

    .eventSec .heading {
        font-size: 2rem;
    }

    .aboutEvent .heading {
        font-size: 2rem;
    }

    .sponserSlider {
        height: 6rem;
    }

    footer .footerWrapper {
        flex-direction: column;
        font-size: .9rem;
    }

    .footerWrapper .faq {
        max-width: 100%;
        min-width: 100%;
    }

    .footerWrapper .socialMedia {
        max-width: 100%;
        min-width: 100%;
    }
}

@media (max-width: 550px) {
    html{
        overflow-x: hidden;
    }
    .heroWrapper {
        display: none;
    }

    nav .navLeft {
        font-family: w;
        font-size: 1.5rem;
        display: flex;
        align-items: center;
    }

    nav .navLeft img {
        padding-top: 5px;
        width: 80px;
    }

    nav .navRight {
        display: none;
    }
    
    .mobileAbove{
        display: initial;
        padding: 2rem 1rem;
    }
    .mobileAbove{
        display: initial;
    }
}